/* Constants */

html {
    --light_color: #F2F7F7;
    --dark_color: #2A2D34;
    --red: #FF0000;
}


/* Body */

body {
    font-family: "Raleway";
    color: var(--dark_color);
    background-color: var(--light_color);
    margin: 2%;
}


/* Drumpads */

.col {
	padding: 1%;
}

.card {
	padding-top: 150%;
	background-color: var(--dark_color);
}


/* Options */

.dropdown {
    display: inline-block;
}

.btn, .dropdown {
    margin-top: 1%;
    margin-bottom: 1%;
}