/* Constants */

html {
    --light_color: #F2F7F7;
    --dark_color: #2A2D34;
}


/* Body */

body {
    font-family: "Raleway";
    color: var(--dark_color);
    background-color: var(--light_color);
    margin: 2%;
}


/* Options */

.dropdown {
    display: inline-block;
}

.btn, .dropdown {
    margin-top: 1%;
}