/* Constants */

html {
    --light_color: #F2F7F7;
    --mid_color: #4EAAAA;
    --dark_color: #2A2D34;
    --dif_color: #FFA07A;
}


/* Body */

body {
    font-family: "Raleway";
    color: var(--dark_color);
    background-color: var(--light_color);
}